{% extends 'jobs/basic.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    {% block content %}
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
        <p>articles</p>
    {% endblock %}
</body>
</html>