{% extends 'jobs/basic.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    {% block content %}
        <p>老弟说要中文哦</p>
        <p>此个人网站用django搭建，部署在阿里云服务器，显示的图是用scrapy爬取boss直聘的python岗位的相关信息存储到mysql，之后将数据清洗后用百度的pyecharts生成的薪资图和技能要求饼图</p>
        <p>welcome to vickey's website, thank you for visiting!</p>
        <p>welcome to vickey's website, thank you for visiting!</p>
        <p>welcome to vickey's website, thank you for visiting!</p>
        <p>welcome to vickey's website, thank you for visiting!</p>
        <p>welcome to vickey's website, thank you for visiting!</p>
        <p>welcome to vickey's website, thank you for visiting!</p>
    {% endblock %}
</body>
</html>